# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# source snapshots
/src.*

# utilities
/utils

# misc
.DS_Store
.env
npm-debug.log

package.json.*
